@using Clases
@model IEnumerable<Gasto>

<h1>Gastos</h1>

<a href="~/Gastos/AgregarGasto"><input type="button" value="Agregar Nuevo Gasto" class="btn btn-primary" /> </a>
<a href="~/Gastos/EliminarGasto"><input type="button" value="Eliminar Gasto" class="btn btn-primary" /> </a>
<br />

<table class="table table-dark table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Gasto gasto in Model)
		{
			<tr>
				<th>@gasto.Nombre</th>
				<th>@gasto.Descripcion</th>
			</tr>
		}
	</tbody>
</table>